  <!--  <h1 class="animated fadeIn"> {{heroe.nombre | uppercase}} <small> ({{ heroe.aparicion| date:'y' }})</small> </h1>

<div class="row animated fadeIn fast">
    <div class="col-4">
        <img [src]="heroe.img"  class="img-fluid rounded"  [alt]="heroe.nombre">
        <br><br>
         <a [routerLink]="['/feet']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-8">

        <h3>{{ heroe.nombre}}</h3>
        <hr>
        <br>
        <p class="lead">{{ heroe.bio}} </p>
        
           <div>
                <img *ngIf=" (heroe.casa == 'DC') "     src="assets/img/dc-logo-3.jpg"       class="rounded img-thumbnail img-logo"   alt="dc-logo" >
                <img *ngIf=" (heroe.casa == 'Marvel') " src="assets/img/marvel-logo-3.jpg"   class="rounded img-thumbnail img-logo"   alt="marvel-logo" >
           </div>
          
    </div>
  
</div>-->

<h1 class="animated fadeIn"> {{food.nombre | uppercase}} <small> ({{ food.category | lowercase }})</small> </h1>

<div class="row animated fadeIn fast">
    <div class="col-4">
        <img [src]="food.img"  class="img-fluid rounded"  [alt]="food.nombre">
        <br><br>
         <a [routerLink]="['/feet']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-8">

        <h3>{{ food.description }}</h3>
        <hr>
        <br>
        <p class="lead">{{ food.price | currency:'EUR'}} </p>
        
           <div  [title] ="'Indica categoría producto'" >
                <img *ngIf=" (food.category == 'FAST') "     src="assets/img/fast-logo.jpg"      class="rounded img-thumbnail img-logo"   alt="dc-logo" >
                <img *ngIf=" (food.category == 'HEALTH') "   src="assets/img/health-logo.jpg"    class="rounded img-thumbnail img-logo"   alt="marvel-logo" >
                <img *ngIf=" (food.category == 'DRINK') "    src="assets/img/drink-logo.jpg"      class="rounded img-thumbnail img-logo"   alt="marvel-logo" >
            </div>
          
    </div>
    <!-- <div class="col"></div> -->
</div>